<div class="student" layout="column" layout-fill="">
  <div class="mt-5 mb-3 ml-4 student-option" layout="row">
    <md-select class="student-option-course" ng-model="studentViewCourse" aria-label="Lớp" ng-change="filter()">
      <md-option ng-value="'all'">Tất cả các lớp</md-option>
      <md-option ng-value="course.name" ng-repeat="course in courseList">Lớp {{ course.name }}</md-option>
    </md-select>
    <div class="student-option-find">
      <md-input-container>
        <input name="studentFindInput" ng-model="studentFindInput" placeholder="Nhập để tìm kiếm" ng-change="filter()">
      </md-input-container>
    </div>
    <div class="student-option-add" flex>
      <md-button class="student-option-add-btn md-raised md-primary" ng-click="studentDialogOpen($event, 'add')"> Thêm sinh viên </md-button>
    </div>
  </div>
  <div class="mx-2 student-list">
    <table class="mb-5" border="1">
      <tr>
        <th ng-repeat="title in studentTableTitles">{{ title }}</th>
      </tr>
      <tr ng-repeat="(index, student) in paginatedStudents">
        <td width="10%">{{ index + 1 }}</td>
        <td width="40%">{{ student.name }}</td>
        <td width="15%">{{ calculateAge(student.birthday) }}</td>
        <td width="15%">{{ student.course }}</td>
        <td width="20%">
          <md-button class="student-list-btn--update md-primary" ng-click="studentDialogOpen($event, 'update', student.id, student)">Sửa</md-button>
          <md-button class="student-list-btn--delete md-primary" ng-click="deleteStudent(student.id)">Xóa</md-button>
        </td>
      </tr>
    </table>
    <div ng-if="students.length === 0">Không có học sinh nào!!!</div>
    <div layout="row" layout-align="center center">
      <!-- Directive cho phân trang -->
      <pagination-directive 
        items="students" 
        items-per-page="5" 
        on-page-change="updatePaginatedStudents(paginatedItems)">
      </pagination-directive>
    </div>
  </div>
</div>

