.student {
  background-color: white;
}

.student-option-viewType {
  width: 30%;
}

.student-option-find md-input-container {
  margin: 0;
  margin-left: 50px;
}

.student-option-add {
  position: relative;
}

.student-option-add-btn {
  position: absolute;
  right: 0;
}

.student-list-btn--delete {
  color: rgb(255, 61, 61) !important;
}



